body {
    background-color: #e0e0e0;
}

.logo {
    background-color: white;
    box-shadow: 0 0 10px 8px #d0d0d0;
}

.logo h1 {
    font-size: 42px;
    color: #1877f2;
    padding-left: 15px;
    padding-bottom: 6px;
}

.F-contant {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
}
.error{
    font-Size:10px;
}

.F-inner {
    width: 40vw;
    background-color: white;
    box-shadow: 0 0 10px 8px #d0d0d0;
}

.F-inner h2 {
    margin: 15px 20px 15px;
}

hr {
    margin: 15px 0 15px;
}

.F-inner p {
    font-size: 19px;
    margin: 0 14px 15px;
    margin-left: 25px;
}

.F-inner input {
    padding: 20px;
    border-radius: 5px;
    width: 93%;
    outline: none;
    border: 1px solid #929292;
    font-size: 20px;
    margin-bottom: 8px;

}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 5px;
}

.cancle {
    color: #545454;
    border: gray;
    background-color: #d7d7d7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 7px 20px;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    width: 7vw;
}

.cancle:hover {
    cursor: pointer;
}

.search {
    color: white;
    border: gray;
    background-color: #1877f2;
    ;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 7px 20px;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    width: 8vw;
}

.search:hover {
    background-color: #1766ce;
    cursor: pointer;
}

@media screen and (max-width:1284px) {
    .F-inner {
        width: 50vw;
    }
}

@media screen and (max-width: 1070px) {

    .F-inner input {
        padding: 17px;
    }

    .F-inner {
        width: 54vw;
    }
    .error{ 
    font-Size:"13px"
    }
}

@media screen and (max-width: 979px) {
    .F-inner {
        width: 60vw;
    }

    .cancle {
        width: 9vw;
    }

    .search {
        width: 10vw;
    }

    .p {
        font-size: 17px;
    }
}

@media screen and (max-width: 890px) {
    .F-inner {
        width: 70vw;
    }
}

@media screen and (max-width: 770px) {
    .F-inner p {
        font-size: 17px;
    }

    .F-inner {
        width: 79vw;
    }

    .cancle {
        width: 12vw;
    }

    .search {
        width: 13vw;
    }
}

@media screen and (max-width: 611px) {
    .F-inner p {
        font-size: 15px;
    }

    .F-inner h2 {
        font-size: 22px;
    }

    .F-inner input {
        padding: 11px;
    }

}

@media screen and (max-width: 545px) {
    .cancle {
        width: 16vw;
    }

    .search {
        width: 18vw;
    }

    .F-inner {
        width: 92vw;
    }

}

@media screen and (max-width: 500px) {
    .F-inner input {
        font-size: 17px;
    }

    .F-inner p {
        font-size: 12px;
    }

    .cancle {
        width: 19vw;
    }

    .search {
        width: 18vw;
    }

    .F-inner {
        width: 92vw;
    }
}

@media screen and (max-width: 385px) {
    .F-inner p {
        margin-left: 16px;
    }
    .error{
        font-size: 10px;
    }

    .cancle {
        width: 24vw;
    }

    .search {
        width: 26vw;
    }

    .F-inner input {
        font-size: 14px;
    }
}

@media screen and (max-width: 267px) {
    .F-inner h2 {
        font-size: 18px;
    }
    .error{
        font-size: 5px;
    }
    

    .F-inner p {
        margin-left: 16px;
        font-size: 9px;

    }

    .cancle {
        width: 29vw;
        font-size: 13px;
    }

    .search {
        width: 31vw;
        font-size: 13px;
    }
}
